/* General App Layout */
Screen {
    layout: vertical;
    align: center top;
}

#log_container {
    dock: bottom;
    height: 12;
    width: 100%;
    border: round $panel;
    margin: 1 0 0 0;
}

#log_output {
    width: 100%;
    height: 100%;
}

/* Login Screen */
LoginScreen {
    align: center middle;
}

#login_container {
    width: 80%;
    max-width: 60;
    height: auto;
    align: center middle;
}

 #login_form, #create_admin_form {
     padding: 1;
     width: 100%;
     height: auto;
     border: round $panel;
     margin-top: 1;
 }

Input {
    margin-bottom: 1;
}

Button {
    width: 100%;
}

Checkbox {
    width: 100%;
    margin-bottom: 1;
}

/* Tools Screen */
ToolsScreen {
    align: center top;
    padding: 1;
}

#tools_container {
    width: 80%;
    max-width: 80;
    height: auto;
    align: center middle;
    border: round $panel;
    padding: 1 2;
}

#logged_in_label {
    width: 100%;
    text-align: center;
    margin-bottom: 1;
}

.button_row {
    width: 100%;
    align: center middle;
    height: auto;
    margin-top: 1;
}

.button_row Button {
    width: 48%;
    margin: 0 1;
}

#logout_button {
    width: 100%;
    margin-top: 1;
}

/* Modal Dialogs */
#dialog {
    grid-size: 2;
    grid-gutter: 1;
    grid-rows: auto auto 3;
    padding: 0 1;
    width: 60;
    height: auto;
    border: thick $panel-darken-2;
    background: $panel-darken-1;
}

#dialog > #title {
    column-span: 2;
    width: 100%;
    text-align: center;
    padding-bottom: 1;
    text-style: bold;
}

#dialog > #question, #dialog > #message {
    column-span: 2;
    width: 100%;
    height: auto;
    margin-bottom: 1;
}

#dialog > Button {
    width: 100%;
}
